.bg-start {
  background-color: purple;
}
.bg-square {
  background-color: white;
}
.bg-tl {
  background-color: blue;
}
.bg-tw {
  background-color: red;
}
.bg-dl {
  background-color: lightskyblue;
}
.bg-dw {
  background-color: pink;
}
