.bg-start {
  background-color: purple;
}
.bg-square {
  background-color: gray;
}
.bg-tl {
  background-color:green;
}
.bg-tw {
  background-color: orange;
}
.bg-dl {
  background-color: blue;
}
.bg-dw {
  background-color: orangered;
}
